 <div class="container-fluid login-page">
 	<div class="login-midway">
 		<h2 class="ead-hub">EAD Hubb</h2>
		<hr class="thin"></hr>
		
		<form role="form" name="myForm" action="/login" method="post" novalidate>
        	
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12">
						<div class="input-group margin-bottom-lg">
							 <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
							<input type="email" name="email" ng-model="employeeEmail" placeholder="Email Address" class="form-control" required>
							<span ng-show="myForm.email.$error.email">Invalid Email.</span>
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12">
						<div class="input-group margin-bottom-lg">
							<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
							<input type="password" name="password" ng-model="employeePassword" placeholder="Password" class="form-control" required>
							<!-- <span ng-show="myForm.password.$error.required">Password is required</span> -->
						</div>
					</div>
				</div>
	
				<center>
					<button type="submit" name="submit" ng-disabled="myForm.email.$invalid || myForm.password.$invalid" class="btn btn-block btn-success signin-btn">Sign Up</button>
				</center>
      
		 </form>

 	</div>
 </div>




 