<div class="form-group">
			<div class="row">
				<label class="control-label col-md-2 col-sm-2 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">Upload your resume</label>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<input type="file" ng-model="uploadResume" value="{{uploadResume}}" class="form-control">
				</div>
			</div>
</div>
<div class="form-group">
			<div class="row">
				<label class="control-label col-md-2 col-sm-2 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">How did you hear about us?</label>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<input type="text" ng-model="reference" value="{{reference}}" class="form-control">
				</div>
			</div>
</div>

<button type="submit" name="submit" class="btn btn-warning btn-lg">Submit</button>